/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}
.ui-dataview-content.ui-widget-content{
  border: none !important;
}

.ui-paginator-top.ui-paginator{
  border: none !important;
}

.ui-dataview-header.ui-widget-header.ui-corner-top{
  border: none !important;
}

/*para cadastro de grupo*/
.ui-message.ui-widget.ui-corner-all.ui-message-error.ng-star-inserted{
  margin-top: 4px;
}
