<div class="container">

  <form autocomplete="off">
    <div class="ui-g-12">
      <h1>Integrantes</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <input type="text" pInputText name="nome" (change)="pesquisar()" placeholder="Nome do Integrante"
             [(ngModel)]="filtro.nome"/>
    </div>
    <div class="ui-g-12 ui-fluid">
      <input type="text" pInputText name="grupo" (change)="pesquisar()" placeholder="Nome do Grupo"
             [(ngModel)]="filtro.grupo"/>
    </div>
  </form>

  <div *ngFor="let g of dataset.grupos">
    <div class="ui-g-12">
      <p-fieldset legend="g.nome" [toggleable]="true">
        <div *ngFor="let i of g.integrantes">
          i.nome
        </div>
      </p-fieldset>
    </div>
  </div>


  <div class="ui-g-12">
    <a pButton label="Novo" routerLink="/integrantes/novo"></a>
  </div>

</div>
