<div class="container">

  <form autocomplete="off" #integranteForm="ngForm" (ngSubmit)="salvar(integranteForm)">

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Novo Integrante</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="integrante.nome" #nome="ngModel" required />
        <app-message [control]="nome" error="required" text="Informe o nome do integrante"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Idade</label>
        <p-spinner name="idade" #idade="ngModel" [min]="7" [max]="100" [(ngModel)]="integrante.idade"></p-spinner>
      </div>

      <div class="ui-g-12">
        <button type="submit" pButton label="Salvar" [disabled]="integranteForm.invalid"></button>
        <a pButton label="Limpar" (click)="limpar(integranteForm)"></a>
        <a routerLink="/integrantes">Voltar para a Pesquisa</a>
      </div>

    </div>

  </form>

</div>
