<div class="container">

  <div class="ui-g-12">
    <h1>Grupos</h1>
  </div>
  <div class="ui-g-12 ui-fluid">
    <input type="text" pInputText name="nome" (change)="pesquisar()" placeholder="Buscar pelo nome do grupo"
           [(ngModel)]="filtro.nome"/>
  </div>

  <div class="ui-g-12">
    <p-dataView #dv [value]="grupos" [paginator]="true" [rows]="5" paginatorPosition="both">
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-6 ui-md-4" style="text-align:right">
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
          </div>
        </div>
      </p-header>
      <ng-template let-grupo pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
          <div class="ui-g-12 ui-md-3" style="text-align:center">
            <img src="assets/images/{{grupo.status.nome}}.png" style="width: 120px;">
          </div>
          <div class="ui-g-12 ui-md-8 car-details">
            <div class="ui-g">
              <div class="ui-g-2 ui-sm-6">Nome:</div>
              <div class="ui-g-10 ui-sm-6"><b>{{grupo.nome}}</b></div>

              <div class="ui-g-2 ui-sm-6">Objetivo:</div>
              <div class="ui-g-10 ui-sm-6"><b>{{grupo.objetivo}}</b></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-1 search-icon">
            <button pButton type="button" icon="far fa-calendar" style="margin-top:0"
                    pTooltip="Ver eventos" tooltipPosition="top"></button>
            <button pButton type="button" icon="fas fa-users" style="margin-top:0"
                    pTooltip="Ver integrantes" tooltipPosition="top"></button>
          </div>
        </div>
      </ng-template>
      <ng-template let-grupo pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
          <p-panel [header]="grupo.status.nome" [style]="{'text-align':'center'}">
            <img src="assets/images/{{grupo.status.nome}}.png" style="width: 120px;">
            <div class="car-detail">{{grupo.nome}}</div>
            <hr class="ui-widget-content" style="border-top:0">
            <button pButton type="button" icon="far fa-calendar" style="margin-top:0"
                    pTooltip="Ver eventos" tooltipPosition="top"></button>
            <button pButton type="button" icon="fas fa-users" style="margin-top:0"
                    pTooltip="Ver integrantes" tooltipPosition="top"></button>
          </p-panel>
        </div>
      </ng-template>
    </p-dataView>

  </div>

  <div class="ui-g-12">
    <a pButton label="Novo" routerLink="/grupos/novo"></a>
  </div>

</div>

