<div class="container">

  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Integrantes</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <div class="ui-g-12">
        <input type="text" pInputText placeholder="Nome do Integrante"
               [(ngModel)]="filtro.nome"/>
      </div>
      <div class="ui-g-12">
        <input type="text" pInputText placeholder="Nome do Grupo"
               [(ngModel)]="filtro.grupo"/>
      </div>
      <div class="ui-g-12 ui-md-8">
        <button pButton icon="pi pi-search" iconPos="left" type="button" label="Pesquisar Eventos"
                class="ui-button-raised" (click)="pesquisarIntegrantes()"></button>
      </div>
      <div class="ui-g-12 ui-md-4">
        <button pButton icon="pi pi-plus" iconPos="left" type="button" label="Novo Evento"
                class="ui-button-raised"></button>
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <div *ngFor="let g of dados">
        <p-fieldset legend="{{g.grupo}}" [toggleable]="true">
          {{g.integrante}}
          {{g.integrantes}}
        </p-fieldset>
      </div>
    </div>
  </div>
</div>
