<section id="menu">
  <section>
    <ul class="links">
      <li>
        <a routerLink="/grupos">
          <h3>Grupos</h3>
          <p>Feugiat tempus veroeros dolor</p>
        </a>
      </li>
      <li>
        <a routerLink="/integrantes">
          <h3>Integrantes</h3>
          <p>Feugiat tempus veroeros dolor</p>
        </a>
      </li>
      <li>
        <a routerLink="/noticias">
          <h3>Noticias</h3>
          <p>Feugiat tempus veroeros dolor</p>
        </a>
      </li>
      <li>
        <a routerLink="/eventos">
          <h3>Eventos</h3>
          <p>Feugiat tempus veroeros dolor</p>
        </a>
      </li>
    </ul>
  </section>
</section>
