<div class="container">

  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-9 ui-lg-10">
        <h1>Eventos {{grupo.nome}}</h1>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-2">
        <h1><button class="novoEvento" pButton label="Novo Evento" class="ui-button-raised" icon="pi pi-plus"
               routerLink="/eventos/novo"></button></h1>
      </div>
      <div class="ui-g-12">
        <p-schedule [events]="events" [header]="header" locale="pt-br"></p-schedule>
      </div>
    </div>
  </div>

</div>
