h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

p {
  text-align: justify;
  margin: 0 0 10px;
  line-height: 1.42857143;
}

h3 small {
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  color: #777;
}

.eventoRow {
  border-bottom: 1px solid #d9d9d9;
}

.imagemGrupo {
  width: 210px;
}

.ln p, .post-snippet.ln p {
  line-height: 2;
  text-align: justify !important;
}
p {
  color: #787f8d !important;
}
p {
  font-size: 17px;
  letter-spacing: .3px;
  line-height: 29px;
}
p, span {
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, pre, table, blockquote, input, button, select, textarea {
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
}
p {
  margin: 0px 0 10px;
}
