<div class="container">

  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-12">
        <h1>Eventos</h1>
      </div>
    </div>
  </div>

  <p-toast [style]="{marginTop: '80px'}"></p-toast>

  <div class="ui-g">
    <div class="ui-g-12 ui-fluid">
      <div class="ui-g-12">
        <p-calendar showTime="true" [locale]="pt" hourFormat="24" dataType="string" dateFormat="dd/mm/yy"
                    name="de" [(ngModel)]="filtro.de" #de="ngModel" placeholder="Data início do evento"></p-calendar>
      </div>
      <div class="ui-g-12">
        <label>até</label>
      </div>
      <div class="ui-g-12">
        <p-calendar showTime="true" [locale]="pt" hourFormat="24" dateFormat="dd/mm/yy"
                    name="ate" [(ngModel)]="filtro.ate" #de="ngModel" placeholder="Data fim do evento"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-8">
        <button pButton icon="pi pi-search" iconPos="left" type="button" label="Pesquisar Eventos"
                class="ui-button-raised" (click)="pesquisarEventos()"></button>
      </div>
      <div class="ui-g-12 ui-md-4">
        <button pButton icon="pi pi-plus" iconPos="left" type="button" label="Novo Evento"
                class="ui-button-raised" routerLink="/eventos/novo"></button>
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div *ngFor="let evento of eventos" class="ui-g-12" class="eventoRow">
      <div class="ui-g-12 ui-md-4" style="text-align: center;">
        <a [routerLink]="['/eventos', evento.id]">
          <img src="assets/images/icon-evento.png" class="imagemGrupo">
        </a>
      </div>
      <div class="ui-g-12 ui-md-8">
        <h3>
          <span>{{evento.descricao}}</span>
          <br/>
          <small>{{evento.data | date:'HH:mm dd/MM/yyyy'}}</small>
        </h3>
        <p>{{evento.objetivo}}</p>
        <button pButton type="button" label="Leia Mais..." class="ui-button-rounded ui-button-secondary"
                (click)="exibirEvento(evento)"></button>
      </div>
    </div>
  </div>

  <p-dialog header="Evento" [(visible)]="display" [modal]="true">
    <p-scrollPanel>
      <div class="ui-g">

        <div class="post-title" style="line-height: 2.2;">
          <h4 class="inline-block mb0 block">{{evento.descricao}}</h4>
          <span class="f16 nnn"><i class="fa fa-calendar" aria-hidden="true"></i>{{evento.data | date:'HH:mm dd/MM/yyyy'}}</span>
        </div>

        <p>{{evento.objetivo}}</p>
      </div>
    </p-scrollPanel>
  </p-dialog>
</div>
