<div class="container">

      <div class="ui-g">

        <div class="ui-g-12">
          <h1>Novo Grupo</h1>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Status do Grupo</label>
            <input type="text" pInputText name="status" required minlength="5"/>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Nome</label>
            <input type="text" pInputText name="nome" required minlength="5"
                   placeholder="Informe o nome do grupo"/>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Objetivo</label>
          <textarea pInputTextarea autoResize="false"  name="objetivo"  required minlength="10"
                    placeholder="Informe o objetivo do grupo"></textarea>
        </div>

        <div class="ui-g-12 ui-fluid">
          <div class="ui-g-12 ui-md-3">
            <button pButton icon="pi pi-plus" iconPos="left" type="button" label="Salvar Grupo" class="ui-button-rounded"></button>
          </div>
          <div class="ui-g-12 ui-md-4">
            <button pButton icon="pi pi-refresh" iconPos="left" type="button" label="Limpar" class="ui-button-rounded ui-button-secondary"></button>
          </div>
          <div class="ui-g-12 ui-md-5">
            <button pButton icon="pi pi-search" iconPos="left" type="button" label="Voltar para Pesquisa" class="ui-button-rounded ui-button-secondary"></button>
          </div>
        </div>

      </div>

</div>
