<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Grupos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <input type="text" pInputText placeholder="Informe o nome do grupo"/>
    </div>

    <div class="ui-g-12 ui-fluid">
      <div class="ui-g-12 ui-md-8">
        <button pButton icon="pi pi-search" iconPos="left" type="button" label="Pesquisar Grupos" class="ui-button-rounded"></button>
      </div>
      <div class="ui-g-12 ui-md-4">
        <button pButton icon="pi pi-plus" iconPos="left" type="button" label="Novo Grupo" class="ui-button-rounded"></button>
      </div>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataView #dv [value]="grupos" [paginator]="true" [rows]="5" paginatorPosition="both">
        <ng-template let-grupo pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
              <img src="assets/images/grupos/{{grupo.status.imageName}}.png" style="width: 120px;">
            </div>
            <div class="ui-g-12 ui-md-8">
              <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">Nome:</div>
                <div class="ui-g-10 ui-sm-6"><b>{{grupo.imageName}}</b></div>

                <div class="ui-g-2 ui-sm-6">Objetivo:</div>
                <div class="ui-g-10 ui-sm-6"><b>{{grupo.objetivo}}</b></div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-1">
              <div class="ui-g-offset-4">
                <a pButton type="button" icon="pi pi-users" style="margin-right: 15px"
                   pTooltip="Ver Integrantes" tooltipPosition="top"></a>
                <a pButton type="button" icon="pi pi-calendar" style="margin-top: 5px"
                   pTooltip="Ver Eventos" tooltipPosition="top"></a>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>

</div>
