<div class="container">

  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-12">
        <h1>Vincular Integrantes {{editando ? 'do ' + grupoSelecionado.nome : ''}}</h1>
      </div>
    </div>
  </div>

  <p-toast [style]="{marginTop: '80px'}"></p-toast>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-12">
        <label>Grupos</label>
      </div>
      <div class="ui-g-12">
        <p-dropdown [options]="grupos" [(ngModel)]="grupoSelecionado" optionLabel="nome" [autoWidth]="false"
                    placeholder="Selecione um Grupo"
                    (onChange)="atualizarIntegrantesSelecionados()"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12">
        <label>Integrantes</label>
      </div>
      <div class="ui-g-12">
        <p-pickList [source]="integrantes" [target]="grupoSelecionado.integrantes" [responsive]="true"
                    [showSourceControls]="false" [showTargetControls]="false"
                    [disabled]="vincular">
          <ng-template let-integrante pTemplate="item">
            <div class="ui-helper-clearfix">
              <ng-template [ngIf]="integrante.cpf" [ngIfElse]="semCpf">
                <img src="assets/images/integrantes/{{integrante.cpf}}.png"
                     style="display:inline-block;margin:2px 0 2px 2px" width="48">
              </ng-template>
              <ng-template #semCpf>
                <img src="assets/images/integrantes/asset-users.svg"
                     style="display:inline-block;margin:2px 0 2px 2px" width="48">
              </ng-template>
              <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{integrante.nome}} - {{integrante.celular}}
              </div>
            </div>
          </ng-template>
        </p-pickList>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-3">
        <button pButton icon="pi pi-save" iconPos="left" type="button" label="Salvar Alterações"
                class="ui-button-raised" (click)="salvarAlteracoes()"></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button pButton icon="pi pi-refresh" iconPos="left" type="button" label="Limpar"
                class="ui-button-raised ui-button-secondary" (click)="limpar()"></button>
      </div>
    </div>

    <div class="ui-g-12" style="margin-top: 20px">
      <div class="ui-g-12">
        <label>Integrantes do grupo {{grupoSelecionado.nome}}</label>
      </div>
      <div class="ui-g-12">
        <p-table [value]="integrantesGrupo">
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Idade</th>
              <th>Contato</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-integrante>
            <tr>
              <td>{{integrante.nome}}</td>
              <td>{{integrante.idade}} anos</td>
              <td>{{integrante.celular}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>
